html{
    scroll-behavior: smooth; 
}

body{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgb(48, 46, 46);
}

.header__wrapper,
.main__wrapper,
.footer__wrapper{
    max-width: 1440px;
    margin:0 auto;
    padding: 0 50px;
    font-size: 30px;
    color:#fff;
}

.footer__wrapper{
    max-width:none;
}

.header{
    padding-top: 40px ;
}

.menu{
    display:flex;
    align-items: center;
    justify-content: right;
}

.menu__item{
    position: relative;
    padding: 10px;
    background-color: rgb(139 161 22);
    transition: 0.5s;
    box-shadow: 0px 7px 10px rgb(39 72 88);
}

.menu__item::after{
    position: absolute;
    content: "";
    top: -10px;
    left: -48px;
    width: 48px;
    height: 100%;
    transform: skewY(22deg);
    background-color:  rgb(127 149 39);
    box-shadow: 0px 7px 10px rgb(39 72 88);
    transition: 0.5s;
}

.menu__item::before{
    position: absolute;
    content: "";
    top: -20px;
    left: -25px;
    width: 100%;
    height: 20px;
    transform: skewX(68deg);
    background-color:rgb(96 122 15);
    transition: 0.5s;
    box-shadow: 0px 7px 10px rgb(39 72 88);
}

.menu__item:hover{
    transform: translateY(-10px) scale(1.1);
}

.menu__item-link{
    text-decoration: none;
    font-size: 20px;
    color:#fff;
}

/*Main*/

.main{
    display:flex;
    column-gap:100px;
    flex-wrap: wrap;
}

.section{
    margin: 20px 0;
}

.title{
    text-align: center;
    font-size: 42px;
    
}

.subtitle{
    text-align: center;
    font-size: 32px;
    
}

.subtitle__text{
    font-size: 24px;
    text-align: center;
}

.subtitle__code{
    align-self: flex-start;
}

.section__profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    order:0;
}

.profil__photo{
    border: 2px solid rgb(39 72 88);

}

.section__contact{
    order: 5;
    height: 460px;
}

.section__skills{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    order:  2;
    flex: 1 40%;
    justify-content: flex-end;
    align-self: center;
}

.skill__items{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill__item{
    display:flex;
    gap:10px;
    align-items: center;
}

.skill__item__img{
    width: 70px;
    height: 70px;
}

.section__about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 1;
    flex: 1 30%;
    align-self: center;
}

.section__code{
    order:3;
    flex:1 100%;
    display: flex;
    flex-direction: column;
}

.section__projects{
    order:4;
    flex:1 100%;
}

.section__education{
    order: 2;
    flex: 1 48%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
}

.section__language{
    order:5;
}

/*PROJECTS SLIDER*/

.section__projects{
    margin: 0 auto;
}

.slider{
    height: 600px;    
}

.slider__container{
    position: relative;
    height:100%;
    overflow: hidden;
}

.slide{
    position: absolute;
    transition: all 0.6s ;
    transform: translateX(-50%) ;
    width: 420px;
    height: 240px;
    border: 2px solid black;
    box-shadow: 0px 15px 36px rgb(39 72 88);
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.slide:hover {
    transform: translateX(-50%)scale(1.15);
    z-index:9;
}

.projects__control{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: -50px 0 50px;
}

.control__btn{
    width:200px;
    height:40px;
    cursor:pointer;
    color:#fff;
    position: relative;
    background-color: rgb(139 161 22);
    transition: 0.5s;
    box-shadow: 0px 7px 10px rgb(39 72 88);
    border: 0;
    font-size: 30px;
}

.control__btn::after{
    position: absolute;
    content: "";
    top: -10px;
    left: -49px;
    width: 48px;
    height: 100%;
    transform: skewY(22deg);
    background-color:rgb(127 149 39);
    box-shadow: 0px 7px 10px rgb(39 72 88);
    transition: 0.5s;
}

.control__btn::before{
    position: absolute;
    content: "";
    top: -21px;
    left: -24px;
    width: 100%;
    height: 20px;
    transform: skewX(68deg);
    background-color:rgb(96 122 15);
    transition: 0.5s;
    box-shadow: 0px 7px 10px rgb(39 72 88);
}

.control__btn:hover{
    transform: scale(1.1) translateY(-10px);
}

.btn__previous{
    z-index: 2;
}

.btn__next{
    z-index: 1;
}

.slide__link{
    text-decoration: none;
    padding: 20px;
}

.slide__link .subtitle{
    color:#fff;
    font-size: 24px;
}

/*language skills sections*/


.section__language{
    flex: 1 ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
}

.section__contact{
    display:flex;
    flex-direction: column;
    row-gap: 40px;
}

.contacts-items{
    display:flex;
    flex-direction: column;
    row-gap:20px;
    justify-content: center;
}

.contacts__item__img,
.contacts__item span{
    cursor: pointer;
    transition:all 0.5s;
   
}

.contacts__item span{
    padding: 0 4px;
    box-shadow:  0px 0px 25px rgb(144 153 56);
}

.contacts__item__link{
    display: block;
    text-decoration: none;
    color:#fff;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.contact__item__text{
    display: flex;
    gap: 10px;
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 24px;
}

.contacts__item span:hover{
    color:rgb(121, 114, 27);
    transform: translateX(10px);
}

/*Footer*/
.footer{
    padding: 50px 0 50px;
    position: relative;
    width: 100%;
}

.footer:after{
    position: absolute;
    content: '';
    top: 20px;
    left:0;
    width:100%;
    height:3px;
    background-color:rgb(32 92 120);
    box-shadow: 0px 7px 10px rgb(39 72 88);
}

.footer__menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    max-width: 1440px;
    margin:0 auto;
}

.footer__menu__link-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:#fff;
}

.footer__menu__link__img{
    width: 100px;
    height:60px;
}

.footer__menu__link:nth-child(2){
    margin-left: -100px;
}

.footer__menu__link:nth-child(1) .footer__menu__link__img{
    width:60px;
}